body {
    font-family: Arial, sans-serif;
    overflow: auto;
    background: url(about1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.text1 {
    font-family: Arial, sans-serif;
    position: absolute;
    padding: 10px;
    top: 15%;
    text-align: center;
}

.large-text {
    font-size: 70px; 
    color: rgb(209, 199, 178);
    font-weight: bold;
    line-height: 5;
}

.medium-text {
    font-size: 35px;
    color: rgb(209, 199, 178);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}

.navbar {
    padding: 1em;
    text-align: right;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 1em;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
    border-radius: 20px;
}

.navbar a:hover {
    background-color: #d8ae7e;
    color: rgb(108, 1, 1);
    border-radius: 20px;
}




 
