* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.product-container {
    display: flex;              
    justify-content: space-between; 
    align-items: flex-start;  
    align-items: center;             
    width: 100%;                  
    gap: 20px;                    
    box-sizing: border-box;    
    margin-left: 0px;    
} 

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    border: 1px solid #ddd;
    width: 300px;
    height: 700px;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #333;
}

.product-card p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.product-card .price {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #222;
}

.badge {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.navbar {
    position: absolute; 
    font-size: 15px;
    top: 0; 
    right: -50px; 
    padding: 5px; 
    text-align: right; 
    width: auto; 
    z-index: 1000; 
}

.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 5px;
}

.navbar li {
    display: inline; 
    margin-right: 1em; 
    margin: 0 5px;
}

.navbar a {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    padding: 5px; 
    font-size: 22px; 
}

.navbar a:hover {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    border-radius: 20px; 
} 