* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.hero-section {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);
}

body {
    background-color: #dbc1ac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


div.SHOPNOW{
    position: relative;
}

input.button1{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    color: rgb(145, 96, 32);
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 20px;
    transform: translateX(-860%)translateY(250%);
    cursor: pointer;
    z-index: 2;

}
.button1:hover{
    background-color: rgb(184, 115, 59);
    color: white;
}