* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.hero-section {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);
}

.navbar {
    padding: 1em;
    text-align: right;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 1em;
}

.navbar a {
    color: rgb(32, 17, 4);
    text-decoration: none;
    padding: 10px;
    font-size: 22.5px;
    margin-right: 5px;
}

.navbar a:hover {
    background-color: rgb(100, 56, 30);
    color: rgb(223, 213, 213);
    border-radius: 20px;
}


body {
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 50px;
}

.card {
    position: relative;
    width: 650px;
    height: 800px;
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid #eaeaea;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay h2 {
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
}

.card:hover .overlay {
    opacity: 1;
}

.link{
    color: white;
    text-decoration: none;
}