* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    right: 20px;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.navbar nav {
    display: flex;
    gap: 20px;
}

.nav-button {
    text-decoration: none;
    color: rgb(37, 34, 34);
    padding: 10px;
    font-size: 20px;
    border-radius: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
}

.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding-top: 100px; 
}

.main-content h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.main-content p {
    font-size: 1.5em;
    margin-bottom: 1.5em;
}