* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f8f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 1000px;
    width: 100%;
    margin-left: 15px;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    color: #222;
    margin-bottom: 100px;
}

.collection {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin-left: 0px;  
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 900px; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: translateY(-20px); 
}

.card img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.card p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #555;
    padding: 10px;
    background-color: #f0f0f0;
    text-transform: uppercase;
}

.hero-section {
    position: static;
    width: -300%;
    height: 900px;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);
}

.navbar {
    position: absolute; 
    font-size: 20px;
    top: 0; 
    right: 0; 
    padding: 16px; 
    text-align: right; 
    width: auto; 
    z-index: 1000; 
}
.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline; 
    margin-right: 1em; 
}

.navbar a {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    padding: 10px; 
    font-size: 18px; 
    font-size: 22px;
}

.navbar a:hover {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    border-radius: 20px; 
}

.link{
    text-decoration: none;
    color: black;
}